<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required permission for Internet access to make API calls -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MNR">

        <!-- Main activity for navigation between screens -->
        <activity
            android:name="app.mnr.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
